body {
  margin: auto;
  text-align: center;
  font-family: Righteous, arial, sans-serif;
  background-color: tan;
}
h1 {
    color: white;
}
h2 {
    font-family:  arial, sans-serif;
    color: white;
}
p {
    font-family:  arial, sans-serif;
    color: white;
  }
li {
  color:white;
}
